<form #formularioUsuario="ngForm"
      (ngSubmit)="crearUsuario(formularioUsuario)"
      >
  <div>
    <label for="nombreId">Nombre</label>
    <input
      id="nombreId"
      type="text"
      name="nombre"
      [(ngModel)]="nombreModelo"
      required
      minlength="3"
      #nombreCampo="ngModel"
    >
    <div *ngIf="nombreCampo.touched&& nombreCampo.errors">
      <p *ngIf="nombreCampo.errors.required">Error:Campo requerrido</p>
      <p *ngIf="nombreCampo.errors.minlength">Error:Campo requerrido</p>
    </div>
  </div>
  <div>
    <label for="cedulaId">Cedula</label>
    <input id="cedulaId"
           type="text"
           name="cedula"
           [(ngModel)]="cedulaModelo"
           required
    >
  </div>
  <div>
    <label for="estadoCivilId">Estado Civil </label>
    <select name="estadoCivil" id="estadoCivilId" [(ngModel)]="estadoCivilModelo"
    >
      <option value="Soltero"> E.C. Soltero</option>
      <option value="Casado"> E.C. Casado</option>
      <option value="Divorciado"> E.C. Divorciado</option>
      <option value="Viudo"> E.C. Viudo</option>
      <option value="Unión libre"> E.C. Unión libre</option>
    </select>
  </div>
  <button type="button" (click)="ayuda()">
    Boton(ayuda)
  </button>
  <button type="submit" [disabled]="!formularioUsuario.form.valid">
    Submit
  </button>
  <button type="reset">
    Reset
  </button>
  <button>
    Defecto
  </button>
</form>
